<app-navbar></app-navbar>


<div class="card">
  <div class="card-header text-center">
    <h4>Manage Employees</h4>
  </div>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Department</th>
      <th scope="col">Hire Type</th>
      <th scope="col">Salary</th>
      <th scope="col" style="width:20%">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let employee of employees">
        <td> {{employee.name}} </td>
        <td> {{employee.position}} </td>
        <td> {{employee.department}} </td>
        <td> {{employee.hireType}} </td>
        <td> {{employee.salary | currency}} </td>
        <td style="width:20%">
        <a routerLink="/employee-detail/{{ employee._id }}" class="btn btn-outline-secondary btn-sm" role="button">Details</a>
        <a routerLink="/edit-employee-detail/{{ employee._id }}" class="btn btn-outline-secondary btn-sm" role="button">Edit</a>
        <button type="button" (click)="deleteEmployee( employee._id )" class="btn btn-outline-secondary btn-sm">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
